@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

body {
    background-color: rgba(218, 163, 163, 0.986);
    color: rgb(0, 0, 0);
    font-family: "Poppins";
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    margin: 20px;
}

/* .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
} */

#title {
    color: red;
    text-align: center;
    font-size: 80px;
    font-weight: 700;
}